@media (max-width: 767px) {
    
    /*@import url(//fonts.googleapis.com/css?family=Open+Sans:400, 700, 600);*/
    
  * {
    text-decoration: none;
  }

  a {
    color: #999 !important;
  }

  body,
    html {
    overflow-x: hidden;
  }
  
  .page-catalog body, html {
    overflow-x: visible; 
  }
  
  #loading-product-container, #loading-tab-container{
      display: none;
  }
  
  .relProdBox {
        display: none !important;
    }

  header {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    height: 60px;
    background: #eee;
    z-index: 9999;
    padding: 10px;
    box-shadow: 0 0 5px rgba(43, 44, 42, .32);
  }

  #div1bg {
    margin-top: 65px;
  }

  #Page {
    width: 100%!important;
    max-width: 100%!important;
    font-family: 'Open Sans', sans-serif!important;
    padding: 0 5px;
    margin: 0 0 20px!important;
    position: relative;
    overflow: hidden;
  }

  #Page .prodBox .board {
    padding: 0!important;
    margin: 0!important;
  }

    .board .caixa-login #email_login.inputErro,
  .board .caixa-login #senha_login.inputErro {

    background-color: #ffe5e5 !important;
  }

  .inputErro {
    background: #ffe5e5 !important;
    border: 1px solid red;
  }

.mensagensErro {
  display: block;
  border:none;
  background: transparent;
}

  #NavLateralDireita,
    #NavLateralEsquerda,
    #NavVisitados,
    #banner_title,
    .nav-brands,
    .navbar {
    display: none;
  }

  .container {
    margin-top: 60px;
    padding: 0 5px;
  }

  .container .caixa-produto{
    margin: 0;
  }

  aside {
    display: none;
  }

  .container .produto-wrapper {
    margin-top: 0;
    padding: 0;
  }

  #descricao embed,
    #descricao img,
    #descricao object,
    #descricao table,
    #descricao video {
    width: 100%!important;
    max-width: 100%!important;
    height: auto !important;
  }

  #descricao * {
    font-size: 12px!important;
    line-height: 14px!important;
    background: inherit!important;
  }

  .produto-links {
    display: none;
  }

  #NavInferior {
    clear: both;
    position: relative;
    box-shadow: 0 0 5px rgba(43, 44, 42, .32);
  }

  .fundo-loading {
    background: rgba(0, 0, 0, 1);
    opacity: .9;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
  }

  .fundo-loading img {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
  }

  .lupa-resp {
    background: #F6F6F6;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 145px;
    top: 10px;
    display: block;
    border-radius: 5px;
  }

  .lupa {
    width: 18px;
    height: 18px;
    fill: #666;
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
  }

  .hamburguer {
    background: #F6F6F6;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    border-radius: 5px;
  }

  .icone-header {
    width: 18px;
    height: 18px;
    fill: #666;
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
  }

  .login-resp {
    background: #F6F6F6;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 100px;
    top: 10px;
    display: block;
    border-radius: 5px;
  }

  .carrinho-resp {
    background: #F6F6F6;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 55px;
    top: 10px;
    display: block;
    border-radius: 5px;
  }

  .carrinho {
    width: 18px;
    height: 18px;
    fill: #666;
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
  }

  .qtd-carrinho {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: .7em;
    background: #09A5CB;
    color: #fff;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
    z-index: 10;
  }

  .logo {
    height: 40px;
    margin-bottom: 0!important;
    margin-left: 0!important;
    margin-right: 0!important;
    position: relative;
    width: 110px;
    text-align: center;
    margin: 0;
  }

  .produto-calcular-frete {
    display: none;
  }

  .logo img {
    max-height: 40px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px;
  }

  .env-busca {
    margin: 0 auto!important;
    max-width: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 64px;
    padding: 5px 10px;
    background: #fff;
    display: none;
    box-shadow: 0 8px 6px -6px #000;
  }

  .btns-paginator,
    #linksPag a {
    border-radius: 50%;
    color: #747474;
    display: inline-block;
    font: 400 12px/16px 'Open Sans', sans-serif;
    text-align: center;
    min-width: 16px;
  }

  #linksPag .pageON {
    background: #747474;
    color: white;
  }

  #form_comprar #quantidade label {
    display: inline-block;
  }

  #destaqueCatalogo {
    display: none;
  }

  .search-box {
    position: relative;
    vertical-align: middle;
  }

  .search-box .search-key {
    background-clip: padding-box;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #eee!important;
    color: #a9a9ab;
    font: 400 12px/12px Lato, sans-serif;
    height: 28px;
    width: 100%!important;
    position: relative;
    z-index: 1;
    float: left;
    padding: 5px 0;
  }

  .search-box .search-button {
    background: url(https://images.tcdn.com.br/img/arquivos/mobile/images/mobile/lupa.png?v=3) center center no-repeat #f6f6f6!important;
    border: 0;
    color: #fff;
    float: none!important;
    font-size: 0;
    font-weight: 700;
    height: 38px;
    margin: 0!important;
    position: absolute;
    right: 0px;
    top: 1px;
    width: 40px;
    z-index: 3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .filtros {
    float: left;
    background: #f6f6f6;
    padding: 5px 10px!important;
    margin: 0 !important;
    text-align: left;
    width: 90%;
  }

  .filtros select {
    margin: 0!important;
    padding: 0!important;
  }

  .first-level {
    vertical-align: middle;
    font-size: 0;
    position: absolute;
    z-index: 9999;
    width: 100%;
    right: 0;
    top: 0;
    height: 100%;
    background: #fff;
    display: none;
  }

  .first-level>li {
    display: block;
    position: relative;
    background: #eee;
  }
  
  .first-level>li img {
    display: none;
  }

  .second-level ul {
    display: none;
  }

  .close-menu {
    display: block;
    height: 50px;
    background: #666!important;
    line-height: 50px;
  }

  .lista_cor_variacao li img,
    .lista_cor_variacao2 li img {
    min-width: 50px !important;
    height: 50px !important;
  }

  .lista_cor_variacao li,
    .lista_cor_variacao2 li,
    .lista_cor_variacao3 li {
    float: none;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px !important;
  }

  .lista_cor_variacao li div,
    .lista_cor_variacao li div,
    .lista_cor_variacao li div,
    .lista_cor_variacao2 li div,
    .lista_cor_variacao3 li div {
    padding: 0 !important;
    border-radius: 0 !important;
    min-height: 40px;
    line-height: 40px;
  }

  .lista_cor_variacao .cor_selecionada, .lista_cor_variacao2 .cor_selecionada, .lista_cor_variacao3 .cor_selecionada {
    background-color: #0794f7;
    border: none !important;
  }

  .close-menu h3 {
    float: left;
    color: #fff;
    font: 700 1.3rem/50px Lato, sans-serif;
  }

  .close-menu h3:first-child {
    border-right: 1px solid #fff;
    cursor: pointer;
    padding: 0 20px;
  }

  .close-menu h3:last-child {
    text-align: right;
    float: right;
    padding: 0 25px 0 0;
    font: 700 1rem/50px Lato, sans-serif;
  }

  .fundo-close {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 9998;
    opacity: .5;
  }

  .first-level>li>h3>a {
    display: block;
    width: 100%;
    font: 700 .875rem/13px Lato, sans-serif;
    color: #4e4e4e;
    margin: 0;
    border-bottom: 1px solid #fff;
    padding: 5px;
    height: auto!important;
  }

  .first-level>li>h3 {
    margin: 0;
  }

  .first-level>li>h3 a {
    padding: 20px;
    font-size: 13px;
  }

  .first-level>li>h3>a:hover {
    text-decoration: none;
  }

  .second-level {
    display: block;
    display: inline-block;
    min-width: 100%;
    position: relative;
    white-space: normal!important;
    border: none;
    background: #fff!important;
    padding: 0;
    margin: 0;
  }

  .second-level>ul {
    display: block;
    vertical-align: middle;
    padding: 0;
    border: none;
  }

  .board.caixa-forma-frete table tbody tr {
    background: #eee;
  }

  .second-level>ul:first-child {
    border: none;
    padding-left: 0;
  }

  .second-level h4 {
    margin: 0;
    padding: 0;
  }

  .second-level>ul>li {
    display: block;
  }

  .second-level a {
    font: 400 12px/12px Lato, sans-serif;
    color: #2a2a2a;
    padding: 15px;
    display: block;
    border-bottom: 1px solid #eee;
    white-space: normal;
  }

  .third-level {
    display: none;
  }

  .catalogo-galeria .vitrine {
    padding: 0!important;
  }

  #Relacionados ul,
    #Vitrine ul,
    .store-front,
    .vitrine-geral ul {
    max-width: 100%!important;
    width: 100%!important;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px !important;
  }

  #Vitrine li,
    .store-front li,
    .vitrine li,
    .vitrine-geral li {
    -moz-background-clip: padding;
    -moz-border-radius: 11px;
    -moz-box-shadow: 0 0 5px rgba(43, 44, 42, .32);
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 11px;
    -webkit-box-shadow: 0 0 5px rgba(43, 44, 42, .32);
    background: #fff;
    border-radius: 11px;
    border: 1px solid #d4d2bf;
    box-shadow: 0 0 5px rgba(43, 44, 42, .32);
    height: auto;
    margin: 10px auto!important;
    width: 90%!important;
    padding: 19px;
    float: none;
    text-align: center;
  }

  .vitrine-geral li a {
    text-decoration: none;
    text-align: center;
  }

  .vitrine-geral li br {
    display: none;
  }

  .vitrine-imagem {
    display: block;
    text-align: center;
  }

  .nomeProd,
    .vitrine-nome {
    font-size: 16px!important;
    padding: 5px 0;
    display: block;
    text-align: center;
  }

  .vitrine .produto-preco {
    font-size: 12px;
    text-decoration: none;
    color: #666;
    display: block;
    text-align: center;
  }

  .comparador,
    .produto-botoes {
    display: none!important;
  }

  .por-preco,
    .produto-preco,
    .vitrine-nome,
    .vitrine-parcela,
    .vitrine-preco {
    font-size: 12px;
    text-decoration: none;
    color: #666;
    display: block;
    text-align: center;
  }

  #NavLogoTray {
    display: block!important;
    width: 100% !important;
    max-width: 100% !important;
  }
  
  .logotipo  h1 {
      margin: 0;
  }

  .center {
    max-width: 96%!important;
  }

  footer {
    overflow: hidden;
  }

/*
  footer ul {
    padding: 20px 0!important;
    display: block;
    width: 100%;
  }
}

  footer ul li{
    display: block;
    text-align: center;
  }

  footer h2 {
    font: 700 13px/13px Lato, sans-serif;
    color: #6e6e6e;
  }

  footer li a {
    font: 400 12px/21px Lato, sans-serif;
    color: #7b7b7b;
    display: block;
    padding: 10px 0;
  }

*/
  .nav-pages-spacer {
    display: none;
  }

  .timelogotray {
    display: block;
    white-space: nowrap;
    float: left;
    max-width: 100%;
    color: transparent;
    width: 100%;
  }

  .catalogo-breadcrumb {
    display: none;
  }

  input[type=text] {
    border: 1px solid #eee!important;
    border-radius: 5px!important;
    padding: 10px 0;
  }

  #mensagem_contato {
    border: 1px solid #eee !important;
  }

  .busca-nome,
    .catalogo-nome {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #666;
    padding: 10px 0;
  }

  .catalogo-form-filtros,
    .busca-form-filtros {
    display: none;
  }

  .msg-obriga {
    display: none;
  }

  #caixaDestaque hr {
    display: none;
  }

  #caixaDestaque > div.board > div.board.catalogo-pagination {
  }

  .catalogo-pages {
    display: block;
    text-align: center;
    float: none;
    padding: 10px 0 0 0;
  }

  .btn-proxima-pagina a:after {
    content: "Próxima Página \25b6";
    display: inline-block !important;
    text-decoration: none;
    font-size: 12px;
  }

  .btn-proxima-pagina,
    .btn-pagina-anterior {
    display: inline-block !important;
  }

  .catalogo-pages .btns-paginator,
    #linksPag a {
    display: none;
  }

  .selectedPg {
    display: inline-block !important;
  }

  .btn-pagina-anterior a:before {
    content: "  \25c0 Página Anterior";
    display: inline-block !important;
    margin-right: 10px;
    text-decoration: none;
    font-size: 12px;
  }

  .btn-ultima-pagina,
    .btn-primeira-pagina,
    .btn-proxima-pagina img,
    .btn-pagina-anterior img {
    display: none !important;
  }

  .busca-form-filtros label,
    .catalogo-form-filtros label {
    display: block;
    max-width: 100%;
    float: none;
    width: 100%;
  }

  .busca-form-filtros select,
    .catalogo-form-filtros select {
    max-width: 100%;
    min-width: 100%;
    margin-top: 10px!important;
    display: block;
  }

  .aplicar-filtro {
    text-align: center;
    display: block;
    padding: 5px 0;
    font-size: 12px;
    background: #eee;
    position: relative;
    border-bottom: 1px dotted #ccc;
    border-radius: 5px 5px 0 0;
  }

  .ico-seta {
    background: url("https://images.tcdn.com.br/img/arquivos/mobile/images/mobile/seta-baixo-filtro.png?a");
    height: 8px;
    width: 16px;
    position: absolute;
    right: 18px;
    top: 11px;
  }

  ul.images-list li {
    display: none;
  }

  ul.images-list li:first-child {
    display: block;
  }

  .catalogo-comparator {
    display: none;
  }

  .catalogo-display {
    display: block;
    float: none;
    text-align: center;
  }

  .blocoSucesso br {
    display: block!important;
  }

  .catalogo-pages {
    display: block;
    text-align: center;
    float: none;
    padding: 10px 0 0 0;
  }

  /**
   * #38337
   */
  .btn-pagina-anterior a,
  .btn-proxima-pagina a {
    display: inline-block;
    font-size: 0;
    text-decoration: none;
  }

  a#mulink {
    text-decoration: none;
  }

  .filtro-disponibilidade {
    display: none!important;
  }

  #form-auto-complete {
    display: block;
    margin-bottom: 10px;
  }

  .rateBlock #rate,
    .rateBlock .nota {
    font-size: 12px;
  }

  .rateBlock .nota {
    display: block;
    width: 100%;
  }

  .news p {
    color: #989898;
    font: 400 11px/19px Lato, sans-serif;
    margin-bottom: 6px;
  }

  .news-nome {
    display: none;
  }

  .news-email {
    width: 170px;
    height: 27px;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    float: left;
    padding-left: 10px;
    color: #7b7b7b;
    font: 400 11px/11px Lato, sans-serif;
  }

  .news-botao {
    width: 37px;
    float: left;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    height: 27px;
    margin-left: -4px;
    color: #7b7b7b;
    font: 400 11px/11px Lato, sans-serif;
  }

  .social {
    height: auto!important;
    margin: 10px 0;
  }

  .social li {
    display: inline-block;
    margin-right: 5px;
  }

  .marcas {
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  .marcas li {
    display: block;
    margin: 10px auto;
    width: auto;
    text-align: center;
  }

  .footer-links .telefone span {
    font: 400 13px/13px Lato, sans-serif;
    color: #6e6e6e;
  }

  .store-info {
    text-align: center;
    color: #94938c;
    font: 400 11px/13px Lato, sans-serif;
    display: block;
    margin: 20px 0;
  }

  .board .caixa-cadastro,
    .board .caixa-login {
    background: 0 0;
    display: block;
    padding: 0;
    max-width: 100%;
    width: 100%;
    min-height: 100%!important;
    margin-top: 20px!important;
  }

  .board .caixa-cadastro form,
    .board .caixa-login form {
    background-color: #fff;
    border-radius: 5px;
    padding: 0 20px!important;
    display: block!important;
    margin: 0!important;
    max-width: 100%!important;
  }

  .board .caixa-login #email_login,
    .board .caixa-login #senha_login,
    .caixa-cadastro #email_cadastro {
    height: 40px!important;
    max-width: 100%!important;
    width: 100%!important;
    border: none!important;
    border-radius: 5px!important;
    display: block;
    border: 1px solid #ccc !important;
  }

  #Page .caixa-login .bt-efetua-login {
    float: right;
    max-width: 135px;
  }

  .recuperar-senha {

  }

  .recuperar-senha a {
    display: block;
    padding: 20px 0;
  }

  #Page .caixa-cadastro form,
    #Page .caixa-cadastro h3,
    #Page .caixa-login form,
    #Page .caixa-login h3,
    #Page .caixa-login p {
    max-width: 100%!important;
    width: 100%;
    text-transform: initial;
  }

  .caixa-cadastro-titulo,
    .caixa-login h3 {
    font: 400 16px/1 Arial, sans-serif;
    color: #999;
    text-transform: capitalize;
  }

  .caixa-cadastro-titulo {
    margin-top: 20px;
  }

  .login-campos-obrigatorios,
    .titulo-login {
    display: none!important;
  }

  .cadastro-desc {
    display: block;
    text-align: left;
    margin-bottom: 10px!important;
  }

  .bt-efetua-login img {
    background: none;
  }

  .container2 .board h1,
    .txt-dados-entrega {
    font: 400 16px/1 Arial, sans-serif;
    color: #999;
    text-transform: unset;
  }

  #CadastroAbas {
    border: none;
  }

  #CadastroAbas>ul>li a {
    background: #fff;
    color: #333;
    padding: 10px 15px;
    display: block;
    border: none;
  }

  #CadastroAbas a:hover {
    color: #666!important;
  }

  #CadastroAbas .aberta a {
    background: #f6f6f6!important;
    padding: 10px 15px;
    border: none;
    display: block;
  }

  #CadastroAbas>ul>li:first-child {
    float: left;
    margin-right: 10px;
  }

  #CadastroAbas>ul>li:last-child {
    float: left;
  }

  #frm2 {
    background: #f6f6f6;
    width: 100%;
    border-radius: 5px;
    padding: 20px!important;
  }

  #frm2 fieldset {
    font-size: 0;
  }

  #Page fieldset>div {
    margin: -5px 0 0;
  }

  #frm2 .text {
    max-width: 100%!important;
    width: 100%!important;
    display: block;
    border: none;
    font-size: 14px!important;
    height: 40px!important;
    max-height: auto!important;
    margin: 5px 0 3px!important;
    border: 1px solid #ccc !important;
    border-radius: 5px;
  }

  #frm2 br {
    margin-bottom: 20px;
    display: block;
  }

  #frm2 label br {
    display: none;
  }

  #frm2 label {
    display: block;
    font: 400 14px/1 Arial, sans-serif;
  }

  #frm2 .botao-commerce {
    margin: 20px 0;
    float: none;
    background: #00a662;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
  }

  div.board:nth-child(4) {
    text-align: left;
  }

  .Pedidos h3,
    .Pedidos strong,
    .Pedidos td,
    .Pedidos th,
    .tablePage td,
    .tablePage th,
    table td,
    table th {
    font-size: 10px;
    text-decoration: none;
  }

  div.board:nth-child(2)>fieldset:nth-child(10)>label:nth-child(20) {
    text-align: left;
    font-size: 12px!important;
    display: block;
    margin-bottom: 20px;
  }

  .Mapa,
    .Mapa.central-mapa {
    display: none;
  }

  th.caixa-cupom {
    width: 200px !important;
  }

  .lista-imagem {
    float: none !important;
    text-align: center;
  }

  #pf_span_sexo {
    display: block;
    min-height: 56px!important;
  }

  span#pf_span_sexo {
    min-height: 55px!important;
  }

  .central-saudacao {
    margin: 20px 0;
  }

  .central-icons-pai {
    background: #f6f6f6!important;
    text-align: left;
    display: block;
    border-radius: 5px;
    width: 100%!important;
  }

  .central-titulo {
    max-width: 100%;
    width: 100%;
  }

  .central-titulo h1 {
    display: block!important;
    background-color: #f6f6f6!important;
    color: #666!important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding: 20px 15px;
    text-transform: uppercase!important;
    font: 700 16px/49px "Open Sans", sans-serif;
  }

  .central-menu img {
    display: none;
  }

  .icoFilho p {
    position: relative;
    z-index: 1;
    font-size: 14px;
  }

  .icoFilho a {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: -29px;
    z-index: 2;
    display: block;
  }

  .icoFilho {
    display: block;
    width: 100%;
    text-align: left;
  }

  .icoFilho img {
    display: none !important;
  }

  .Seguro {
    display: none!important;
  }

  .central-conteudo {
    display: block;
    margin: 0 0 20px;
  }

  .central-conteudo .board,
    .central-conteudo a,
    .central-conteudo h1 {
    display: inline-block;
    font-size: 14px!important;
    color: #333;
  }

  .central-conteudo h1 {
    font-weight: 700!important;
  }

  #Body {
    min-width: 0!important;
  }

  .Pedidos tr:first-child th,
    .tablePage tr:first-child th,
    table tr:first-child th {
    border: none;
    color: #555;
    font: 400 11px/13px "Open Sans", sans-serif;
    padding: 7px 6px;
    white-space: normal;
    background: #eee;
    font-size: 10px;
  }

  .Pedidos td,
    .Pedidos th,
    .tablePage td,
    .tablePage th,
    table td,
    table th {
    font-size: 10px;
    border-bottom: 1px solid #eee;
    padding: 5px!important;
  }

  .tablePage a,
    .tablePage h3,
    .tablePage h4,
    .tablePage span {
    font-size: 12px!important;
  }

  .botao-simular-frete {
    color: #ccc !important;
  }

  .Pedidos tr:first-child th:first-child:before {
    content: "Cod. Pedido";
    font-size: 12px;
    display: block;
  }

  .Pedidos tr:first-child th:first-child {
    font-size: 0;
  }

  .carrinho td:nth-child(4) {
    display: none;
  }

  .carrinho .tablePage img {
    display: block;
    max-width: 100%;
    min-width: 100px;
  }

  .carrinho td>span.valores_carrinho {
    display: none;
  }

  #Page .caixa-detalhes-compra .valores_carrinho h3 {
    color: #049dbd!important;
  }

  #form_pagamento .caixa-frete .tit-frete {
    font-size: 14px;
    font-weight: 400;
  }

  .bt-excluir img {
    display: none;
  }

  .carrinho a,
    .carrinho td {
    font-size: 10px;
    text-decoration: none;
    color: #999;
  }

  .central-conteudo hr,
    .refresh img {
    display: none;
  }

  form[name=form] p {
    background: #f6f6f6;
    padding: 20px;
    margin: 20px 0;
    display: block;
  }

  form[name=form] label {
    display: block;
    margin: 5px 0 10px;
    font-size: 14px!important;
  }

  form[name=form] .text,
    form[name=form] select {
    max-width: 100%!important;
    width: 100%!important;
    display: block;
    border: none!important;
    font-size: 14px!important;
    height: 40px!important;
    max-height: auto!important;
    margin: 5px 0 3px!important;
  }

  div.board:nth-child(4)>div:nth-child(2)>form:nth-child(3)>fieldset:nth-child(1)>p:nth-child(5) {
    display: none;
  }

  #Page .select,
    #Page .text,
    #Page .textarea,
    #Page select,
    #Page textarea {
    height: 40px!important;
  }

  #Page textarea {
    border: 1px solid #eee!important;
  }

  #preco_fim,
    #preco_ini {
    display: block!important;
  }

  .obriga {
    border: none!important;
  }

  .escolha-forma-pagamento {
    display: none;
  }

  .nome-produto-pagamento h4 {
    background: #f6f6f6!important;
    font-size: 14px!important;
  }

  .caixa-detalhes-compra .nome-produto-pagamento div {
    margin-left: 0!important;
  }

  #add,
    .produto-formas-pagamento,
    .produto-mensagem-adicional,
    .produto-zoom-detalhe {
    display: none!important;
  }

  #lightwindow .page-simula-frete {
    max-width: 90%!important;
    min-width: 90%!important;
  }

  .produto-nome {
    float: none;
    width: 100%;
    font-size: 1.2rem;
  }

  #visualAbas {
    display: none;
  }

  #produto_preco {
    text-align: center;
  }

  #NavTagCloud,
    .prodCod {
    display: none;
  }

  #direita,
    #esquerda {
    max-width: 100%!important;
    width: 100%;
  }

  #ProdAbas li {
    display: none;
  }

  #ProdAbas .aberta >a,
    #ProdAbas li>a {
    color: #000;
    background: transparent;
    border: none;
    display: inline-block !important;
    vertical-align: middle;
    font: 400 .65rem/1 Lato, sans-serif;
    text-transform: uppercase;
    float: none;
    margin: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    border-radius: 0!important;
  }

  #ProdAbas .aberta>a,
    .caixa-lista-formas #ProdAbas>li>a {
    background-color: transparent;
    border-radius: 0!important;
    color: #fff !important;
  }

  .atualizaFormas a {
    width: 100%!important;
    margin: 10px 0;
    padding: 0;
  }

  #atualizaFormas h3 {
    width: 100%!important;
    padding: 10px!important;
    border: 1px solid #eee!important;
    color: #666;
    text-decoration: none;
  }

  .txt-forma-pagto span.item-parcela {
    min-height: 50px;
  }

  .tablePags td:nth-child(4) {
    display: none;
  }

  #linkPagParcelado {
    display: none!important;
  }

  #CadastroAbas ul,
    #ProdAbas ul {
    padding-bottom: 100px;
  }

  #CadastroAbas>li,
    #ProdAbas .aberta,
    #ProdAbas li {
    position: relative;
    background: #eee;
    z-index: 1;
    width: 100%;
    border-radius: 0;
    margin: 2px;
    height: 50px;
    line-height: 50px;
    display: none;
    border-radius: 5px;
    top: 86px;
  }

  li.atendimento-fale-conosco {
    font-size: 0;
  }

  #ProdAbas .aberta {
    width: 48% !important;
    position: absolute;
    top: 0;
    left: 0;
  }

  .mais-info {
    display: inline-block !important;
    color: #666;
    position: absolute !important;
    top: 0 !important;
    right: 0;
    width: 48% !important;
  }

  .abasProduto .aberta {
    background: #666 !important;
    color: #fff;
    display: inline-block !important;
  }

  #CadastroAbas li {
    width: 48%!important;
  }

  #CadastroAbas #ProdAbas li:last-child {
    display: none;
  }

  #Page #cep_2 {
    width: 30%!important;
    display: inline-block;
  }

  #Page #cep_1 {
    width: 40%!important;
    display: inline-block;
  }

  #vitrine-catalogo .text {
    display: block;
  }

  #cepbox {
    padding: 20px 10px;
  }

  #cepbox a {
    background: url(https://images.tcdn.com.br/img/arquivos/mobile/images/mobile/bt-calcular-frete.png?v=32)!important;
    display: inline-block;
    border-radius: 5px;
    width: 104px;
    height: 40px;
  }

  #cepbox a img {
    display: none;
  }

  #cepbox:before {
    content: '';
    background: 0 0;
    display: none;
  }

  img[class*="btnCompra"]{ 
      display: block; 
      z-index: 99999999;
      height: 65px;
      width: 75%;
      margin: 0 auto;
  }
   
    #bt_comprar {
        float: none;
        margin: 10px 0;
        overflow: initial;
        text-align: center;
    }
    #bt_comprar button {
        border-radius: 5px;
        color: #fff;
        display: block;
        font-size: 20px;
        height: 66px;
        margin: 4 auto !important;
        width: 100%;
    }
    
    #Page .caixa-cupom .text, #calculoFrete .text {
        border: 1px solid #ccc !important;
    }

  #quantidade {
    float: none;
    background: #eee;
    border-radius: 5px;
    padding: 0 0 0 20px;
  }

  .produto-rotulos {
    display: none;
  }

  #quant {
    width: 60px;
    text-align: center;

  }

  #quantidade label {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 10px 0 0;
    padding: 5px 0;
    display: block;
  }

  #NavVisitados {
    display: none;
  }

  #Relacionados {
    float: left;
  }

  #Relacionados ul {
    width: 100%;
  }

  #Relacionados ul li {
    width: 100%;
    max-width: 100%;
  }

  .tit-unitario {
    display: none;
  }

  .tit-detalhes-compra h2 {
    font-size: 14px;
    color: #666;
  }

  .Pedidos tr:nth-child(2n+1),
    .caixa-detalhes-compra tr:nth-child(2n),
    table tr:nth-child(2n) {
    background: 0 0;
  }

  .caixa-detalhes-compra span {
    margin: 0;
  }

  .caixa-detalhes-compra .caixa-frete {
    border-top: 20px solid #fff;
    background: #f6f6f6;
  }

  .change {
    display: none;
  }

  .vitrineVisitados {
    width: 99%;
    margin: 0 auto;
  }

  .catalogo-galeria .vitrineVisitados li {
    background: #fff;
    border: 1px solid #d4d2bf;
    margin: 20px 15px!important;
    border-radius: 11px;
    box-shadow: 0 0 5px rgba(43, 44, 42, .32);
    display: inline-block;
    height: auto;
    min-height: 335px;
    padding: 19px;
    width: 90%;
  }

  #Aba1,
    #Aba2,
    #Aba3,
    #Aba4 {
    display: none;
  }

  #PassosAba .aberta,
    #PassosAba .aberta a,
    #PassosAba .aberta h1 {
    display: block!important;
    background-color: #f6f6f6!important;
    color: #666!important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding-top: 2px;
  }

  #PassosAba .aberta h1:first-letter {
    font-size: 0;
  }

  #ProdBlock {
    border: none;
    position: relative;
  }

  #ProdBlock .abasProduto {
    display: block;
    padding: 0;
    margin: 0 0 30px;
    border: none;
  }

  body > div.container > div > section > div:nth-child(13) {
    display: none;
  }

  .AvancarTopo,
    .produtos-relacionados {
    display: none;
  }

  #Page #cesta_produtos {
    margin: 0!important;
  }

  #cesta_produtos > div.board.caixa-forma-frete > table > tbody > tr:nth-child(1) > th:nth-child(3),
  #cesta_produtos > div.board.caixa-forma-frete > table > tbody > tr:nth-child(1) > th:nth-child(2) {
    width: auto !important;
  }

  #tabela_carrinho tr:first-child {
    display: none;
  }

  #tabela_carrinho .nome-produto-carrinho {
    padding: 15px 5px!important;
    font-size: 16px!important;
    margin-top: 10px!important;
    font-family: 'Open Sans', sans-serif!important;
  }

  .produto-imagem #wrap {
    z-index: 0!important;
  }

  .produto-imagem #wrap a {
    z-index: 0!important;
    width: 100%!important;
    max-width: 100%!important;
  }

  .container_thumb,
    .produto-imagem #wrap img {
    width: 100%!important;
    height: auto!important;
    max-width: 100%!important;
    max-height: 100%!important;
  }

  #nao_disp .image {
    display: block;
  }

  #tabela_carrinho td {
    vertical-align: middle!important;
  }

  #ProdBlockCompreJunto {
    /*display: none;*/
  }

  .qntd {
    height: 40px!important;
    width: 40px!important;
    border-radius: 5px;
  }

  #cesta_produtos table.tablePage:nth-child(1)>tbody:nth-child(1)>tr:nth-child(1)>th:nth-child(2),
    #cesta_produtos table.tablePage:nth-child(1)>tbody:nth-child(1)>tr:nth-child(1)>th:nth-child(3) {
    display: block;
  }

  #tabela_carrinho.tablePage:nth-child(1)>tbody:nth-child(1)>tr:nth-child(2) {
    padding: 10px 0;
  }

  .pointer.bt-avancar.right:last-child {
    display: block!important;
  }

  .pointer.bt-avancar.right {
    display: block;
  }

  #tabela_carrinho img {
    max-width: 90px;
  }

  .caixa-frete h2 {
    background: #f6f6f6;
    border-radius: 5px 5px 0 0;
    font-weight: 400;
    font-size: 14px;
  }

  #calculoFrete {
    float: left!important;
    max-width: 100%;
    display: block;
    text-align: left;
    min-width: 320px;
  }

  #cep1 {
    width: 65px!important;
    border-radius: 5px;
    padding: 10px 0;
  }

  #cep2 {
    width: 50px!important;
    border-radius: 5px;
    padding: 10px 0;
  }

  .bt-cep img,
    .bt-cupom img {
    display: none;
  }

  .bt-cep {
    background: url(https://images.tcdn.com.br/img/arquivos/mobile/images/mobile/bt-calcular-frete.png?v=3)!important;
    display: inline-block;
    border-radius: 5px;
    width: 104px;
    height: 40px;
  }

  .caixa-forma-frete .carFretePara {
    float: left;
    display: block;
    padding: 10px 0;
    font-size: 14px;
    color: #666;
  }

  #formas_envio_frete td {
    border: 0;
    display: inline-block;
    padding: 12px 0;
    vertical-align: middle;
    text-align: left;
  }

  #formas_envio_frete tr td:first-child {
    padding-left: 95px;
    width: 60%;
    float: left;
  }

  #formas_envio_frete tr td:first-child+td {
    width: 100%;
    text-align: right;
  }

  #formas_envio_frete label {
    white-space: nowrap;
  }

  #formas_envio_frete tr td:first-child+td+td {
    width: 100%;
  }

  #Page .caixa-cupom,
    #Page .caixa-cupom+th,
    #Page .caixa-cupom+th+th {
    border-bottom: 15px solid #fff;
    border-radius: 5px 5px 0 0!important;
    border-top: 22px solid #fff;
    padding-bottom: 15px!important;
    text-align: left;
    width: 80%;
  }

  .caixa-cupom label {
    border-radius: 5px 5px 0 0!important;
    color: #747474!important;
    display: block!important;
    font-size: 14px!important;
    font-weight: 400!important;
    padding: 9px 13px 12px!important;
    text-transform: uppercase;
  }

  #calculoFrete label {
    display: none;
  }

  .caixa-botoes {
    border-top: 3px solid #eee;
    float: left;
    padding-top: 20px;
    width: 100%;
  }

  .caixa-total tr th {
    background: 0 0!important;
  }

  .bt-cupom {
    background: url(https://images.tcdn.com.br/img/arquivos/mobile/images/mobile/bt-calcular.png?v=5)!important;
    display: inline-block;
    border-radius: 5px;
    width: 75px;
    height: 40px;
  }

  .tablePage h3 {
    white-space: nowrap;
  }

  #cupon {
    width: 90px!important;
    padding: 10px 0;
  }

  .bt-continuar-comprando img {
    display: none;
  }

  .bt-continuar-comprando a {
    height: 36px;
    display: block;
    margin-bottom: 20px;
    font-size: 10px;
  }

  ul.Forma1 img {
    max-width: 60px;
  }

  .bt-avancar img {
/*    display: none;*/
  }

  .bt-avancar {
    
    width: 129px;
    height: 36px;
    display: block;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  #Page .valores_carrinho,
    .caixa-total .color {
    color: #049DBD!important;
    font-size: 12px!important;
    white-space: nowrap;
  }

  .caixa-detalhes-compra .tit-qtde .valores_carrinho:before {
    content: "qtd: ";
  }

  .TimeLine5 ul li {
    display: none;
  }

  .TimeLine5 ul .ok {
    display: block!important;
    width: 100%;
    background: 0 0;
    padding: 10px 0;
  }

  .caixa-total tr {
    background: 0 0!important;
  }

  .caixa-total h3 {
    position: relative;
  }

  .color.tit-total {
    margin-bottom: -30px;
  }

  #tabela_carrinho.tablePage:nth-child(1)>tbody:nth-child(1)>tr:nth-child(2) {
    display: table;
    margin-top: 20px!important;
    width: 100%;
  }

  div.board:nth-child(4)>table:nth-child(1)>tbody:nth-child(1)>tr:nth-child(2) {
    min-width: 320px;
    max-width: 100%;
  }

  .bt-excluir {
    background: url(https://images.tcdn.com.br/img/arquivos/mobile/images/mobile/trash.png) left top no-repeat;
    display: block;
    height: 40px;
    width: 40px;
  }

  #tabela_carrinho.tablePage .refresh {
    background: url(https://images.tcdn.com.br/img/arquivos/mobile/images/mobile/update.png) center top no-repeat;
    display: block;
    height: 39px;
    width: 39px;
    padding-bottom: 11px;
    padding-top: 45px;
  }

  .tablePage .qntdEstoque {
    display: inline-block!important;
    float: right;
    margin-right: -28px;
    margin-top: 14px;
    font-size: 16px!important;
    white-space: nowrap;
  }

  .Forma1 .tablePags,
    .caixa-formas-pagamento {
    display: block;
  }

  .lista-formas-pagamento,
    .mensagem-popup {
    display: none;
  }

  .lista-formas-pagamento img {
    flex: 0 0 auto;
    float: left;
    margin: 0 15px 0 0;
    display: block;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .lista-formas-pagamento br {
    display: none!important;
  }

  .lista-formas-pagamento label {
    width: 100%;
    padding: 10px 0!important;
    display: block!important;
  }

  #dados_cartao_campos>div:nth-child(12) {
    border: 1px dotted #ccc;
    display: block;
    float: right;
    font-size: 9px;
    margin-right: 21px;
    margin-top: -151px!important;
    overflow: hidden;
    padding: 3px;
    width: 180px;
  }

  #Page .caixa-detalhes-compra .valores_carrinho h3 {
    display: block!important;
    font-size: 18px!important;
    font-weight: 400;
  }

  #FormasPagamento .tit-tipo-pagamento {
    padding: 0!important;
  }

  #dados_cartao_campos .image {
    display: none;
  }

  #dados_cartao_campos #enviar_cartao {
    display: block!important;
  }

  #dados_cartao_campos label{
    display: inline;
  }

  #FormasPagamento legend {
    background: none;
    border: 0;
    display: block;
    margin-bottom: 0;
    font-size: 13px;
    width: 80%;
    white-space: normal;
  }

  .caixa-lista-formas #ProdAbas li {
    background: #ccc;
    display: block;
    height: auto;
    width: 100% !important;
  }
  
#ProdAbas .aberta>a, .caixa-lista-formas #ProdAbas>li>a {
    background-color: #666 !important;
    border-radius: 0!important;
    /*padding: 10px 0 !important;*/
    color: #fff !important;
}
  .caixa-lista-formas #ProdAbas li a:after {
    content: "";
    background: url("https://images.tcdn.com.br/img/arquivos/mobile/images/mobile/seta-baixo-filtro.png?a");
    height: 8px;
    width: 16px;
    position: absolute;
    right: 18px;
    top: 11px;
  }

  .tem-mensagem label {
    display: block;
    padding: 15px 0;
    background: 0 0;
    width: 100%;
    margin: 5px 0;
  }

  #Page .obriga {
    border-left: 3px solid #C00!important;
  }

  .formulario-contato image {
    width: auto!important;
  }

  #NavCentral {
    margin: 0!important;
  }

  #NavCentral>#Page>h2 {
    display: block!important;
    background-color: #f6f6f6!important;
    color: #666!important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding: 20px 5px;
  }

  #nome_cliente {
    background: #f6f6f6;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    max-width: 90%;
    margin: 20px auto 0;
    text-align: center;
    font: 700 14px/14px "Open Sans", sans-serif;
  }

  #lang_agradecimento {
    background: #f6f6f6;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    max-width: 90%;
    margin: 0 auto 20px;
    text-align: center;
    font: 700 14px/14px "Open Sans", sans-serif;
  }

  .code {
    background: #ED1B2E;
    border: 0;
    border-radius: 5px;
    display: block;
    font: 700 32px/57px "Open Sans", sans-serif;
    margin: 0 auto;
    padding: 0 55px;
    max-width: 90%;
  }

  .board>strong {
    text-align: center;
    display: block;
    padding: 10px 0;
    font-size: 14px;
  }

  .finish-ebit input[type=image] {
    width: 100%;
  }

  .msg-finalizar {
    background: #f6f6f6!important;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    max-width: 90%!important;
    margin: 0 auto 20px!important;
    text-align: center;
    font: 700 14px/14px "Open Sans", sans-serif;
  }

  .msg-finalizar br {
    line-height: 10px!important;
    font-size: 10px!important;
  }

  .msg-p-finalizar {
    background: #f6f6f6!important;
    padding: 10px;
    max-width: 90%!important;
    margin: 20px auto!important;
    text-align: center;
    font: 400 14px/18px "Open Sans", sans-serif;
    display: block;
    overflow: hidden;
  }

  .finalizarBT {
    width: 61px;
    height: 36px;
    background: url(https://images.tcdn.com.br/img/arquivos/mobile/images/mobile/bt-pagar.png);
    bottom: 0;
    right: 10px;
  }

  .botao-finalizar-compra {
    width: auto;
  }

  #FormasPagamento .container {
    margin: 20px 0;
  }

  #FormasPagamento fieldset {
    padding: 0 0 35px;
  }

  .container .tit-detalhes-compra {
    margin: 0;
  }

  .carrinho-heading {
    display: none;
  }

  .container .tit-detalhes-compra h2 {
    text-align: center;
  }

  .board.observacao {
    padding-top: 10px;
  }

  .board.observacao h3 {
    text-align: center;
  }

  .finalizarBT img {
    display: none;
  }

  .finish-delivery,
    .finish-message,
    .finish-order,
    .finish-purchase,
    .finish-info {
    width: 96%!important;
    float: none;
  }

  .bt-trocar-forma {
    display: inline-block!important;
    margin: 20px 0!important;
  }

  #tabela_carrinho td h3 span {
    display: block!important;
  }

  #tabela_carrinho td span {
    display: none;
  }

  #foto_p .photo {
    max-height: auto!important;
    max-width: 100%;
  }

  .light_altura #div_atualiza form input {
    width: 80%!important;
    background: #fff!important;
  }

  .light_altura #div_atualiza>p:nth-child(1) {
    font: 700 14px/14px Roboto, sans-serif;
    border-bottom: none;
    padding-bottom: 5px;
  }

  #div_atualiza fieldset {
    background: none!important;
    border: none!important;
    line-height: auto;
    padding: 0;
    position: relative;
    width: 250px!important;
    font: 400 12px/12px Arial, sans-serif!important;
    color: #9b9b9b;
  }

  .light_altura #form1>fieldset:nth-child(1)>p:nth-child(3)>label:nth-child(10),
    .light_altura #form1>fieldset:nth-child(1)>p:nth-child(3)>label:nth-child(11) {
    display: inline-block;
    vertical-align: top;
  }

  .light_altura .text {
    background: 0 0;
    border-radius: 5px;
    height: 30px;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    border-left: 3px solid #c00;
    margin-top: 5px;
    display: block;
    font: 400 14px/14px Roboto, sans-serif;
    color: #666;
    padding: 0 0 0 15px;
  }

  .light_altura .opcional {
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
  }

  .light_altura #mensagem_duvida {
    background: 0 0;
    border-radius: 5px;
    height: 117px;
    border: 1px solid #eaeaea;
    margin-top: 5px;
    display: block;
    font: 400 14px/14px Roboto, sans-serif;
    color: #666;
    width: 100%!important;
    border-left: 3px solid #c00;
  }

  .light_altura label {
    font: 700 13px/13px Roboto, sans-serif;
    display: block;
    margin-top: 13px;
  }

  .light_altura .mensagensErro {
    background: none!important;
    border: none;
    display: block;
    margin-left: 0;
    padding: 3px;
    color: #c00;
  }


  .light_altura .blocoSucesso {
    background: #86bd40;
    display: block;
    font: 700 12px Arial, Helvetica, sans-serif;
    margin: 0 0 10px;
    padding: 5px 0;
    color: #fff;
    border-radius: 3px;
    text-align: center;
  }

  .light_altura .inputErro {
    border: none;
  }

  .light_altura #spanTextarea {
    border: none!important;
    width: 100%!important;
  }

  .slick-dots {
    text-align: center;
  }

  .slick-dots li {
    display: inline-block;
    margin: 4px;
    opacity: 0.7;
  }

  .mensagensErro {
    color: red;
    padding: 4px;
    display: block;
    border: 0;
    margin-bottom: 20px;
  }

  .botao-efetuar-login {
    margin: 10px 0;
  }

  .slick-dots li button {
    background: #ccc;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 0;
  }

  .slick-prev {
    position: absolute;
    top: 50%;
    font-size: 0;
    border: none;
    background: #000;
    margin-top: -20px !important;
    color: #fff;
  }

  .slick-prev:after {
    content: "<";
    font-size: 18px;
    padding: 5px 10px;
    display: inline-block;
  }

  .slick-next {
    margin-top: -20px !important;
    position: absolute;
    top: 50%;
    font-size: 0;
    border: none;
    background: #000;
    color: #fff;
    right: 0;
  }

  .slick-next:after {
    content: ">";
    font-size: 18px;
    padding: 5px 10px;
    display: inline-block;
  }

  .slick-active button {
    background: #000 !important;
  }

  .slick-disabled {
    opacity: 0.2;
  }

  .lista-produtos {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    position: relative;
  }

  .lista-produto-imagem,
    .lista-produto-dados,
    .lista-produto-comprar,
    .lista-produto-quantidade,
    .lista-produto-solicitados,
    .lista-produto-valores {
    width: 100%;
    float: none;
    text-align: center;
    margin: 0;
  }

  .refresh_exclusao {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 15px;
  }

  #filtro-produtos > label {
    width: 100%;
    margin-top: 20px !important;
    ;
        display: block !important;
  }

  #Page > div:nth-child(1) > div > div.board > div:nth-child(1) > a > img {
    display: none;
  }

  .container3.catalogo-bottom {
    display: inline-block;
  }

  .cor_selecionada {
    background-color: #c6c7cb;
    border: 4px solid #fff !important;
    color: white;
    margin: 0;
    outline: 4px solid #0794f7;
  }

  ul.lista_cor_variacao li {
    display: block;
  }

  .passo1 .lista_cor_variacao li {
    display: inline-block;
  }

  #NavLateralDireita {
    float: left;
    width: 100%;
    padding: 0 20px;
  }

  .banner-extra4 {
    text-align: center;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    margin: 0 10px !important;
    padding: 0 !important;
  }

  .carrinho-tabs li {
    display: none;
  }

  .carrinho-tabs li.active {
    display: block !important;
  }
}