<div class="owl-carousel owl-theme owl-banner-home">
    {% if settings.img_banner_mobi_1 %}
    <div class="item">        
        <a href="{{ settings.link_banner_1 }}" alt="Baner H. Bim Uniformes" target="{{ settings.opc_link_banner_1 }}">            
            <img src="{{ asset(settings.img_banner_mobi_1) }}" alt="imagem banner H. Bim Uniformes" />            
        </a>        
    </div>
    {% endif %}
    {% if settings.img_banner_mobi_2 %}
    <div class="item">        
        <a href="{{ settings.link_banner_2 }}" alt="Baner H. Bim Uniformes" target="{{ settings.opc_link_banner_2 }}">            
            <img src="{{ asset(settings.img_banner_mobi_2) }}" alt="imagem banner H. Bim Uniformes" />            
        </a>        
    </div>
    {% endif %}
    {% if settings.img_banner_mobi_3 %}
    <div class="item">        
        <a href="{{ settings.link_banner_3 }}" alt="Baner H. Bim Uniformes" target="{{ settings.opc_link_banner_3 }}">            
            <img src="{{ asset(settings.img_banner_mobi_3) }}" alt="imagem banner H. Bim Uniformes" />            
        </a>        
    </div>
    {% endif %}
    {% if settings.img_banner_mobi_4 %}
    <div class="item">        
        <a href="{{ settings.link_banner_4 }}" alt="Baner H. Bim Uniformes" target="{{ settings.opc_link_banner_4 }}">            
            <img src="{{ asset(settings.img_banner_mobi_4) }}" alt="imagem banner H. Bim Uniformes" />            
        </a>        
    </div>
    {% endif %}
    {% if settings.img_banner_mobi_5 %}
    <div class="item">        
        <a href="{{ settings.link_banner_5 }}" alt="Baner H. Bim Uniformes" target="{{ settings.opc_link_banner_5 }}">            
            <img src="{{ asset(settings.img_banner_mobi_5) }}" alt="imagem banner H. Bim Uniformes" />            
        </a>        
    </div>
    {% endif %}
    {% if settings.img_banner_mobi_6 %}
    <div class="item">        
        <a href="{{ settings.link_banner_6 }}" alt="Baner H. Bim Uniformes" target="{{ settings.opc_link_banner_6 }}">            
            <img src="{{ asset(settings.img_banner_mobi_6) }}" alt="imagem banner H. Bim Uniformes" />            
        </a>        
    </div>
    {% endif %}
</div>